<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alegreya+SC:400,900' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SENTiment</title>
    <link rel="stylesheet" href="stylesheets/style.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  </head>

  <body>
  <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a id="nav-brand" class="navbar-brand" href="#">SENTiment</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul id="navbar" class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <% if (user) { %>
                <li><a href="/tweets">See last tweet</a></li>
                <li><a href="/watson">Analyze last tweet</a></li>
                <% } %>
              </ul>
              <% if (!user) { %>
                <a id="nav-bar-login" class="btn btn-xs btn-default" href="/login" role="button"></a>
              <% } else { %>
                <a id="nav-bar-login" class="btn btn-xs btn-default" href="/logout" role="button">Log out</a>
              <% } %>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div  class="carousel-caption">
              <h1>SENTiment</h1>
              <p>Discover the emotions your TWEETS portray. </p>
              <p><a id="twitter-login"class="btn btn-lg btn-default" href="/login" role="button"></a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Content</h1>
              <p>Information</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Content</h1>
              <p>Information</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h4>Emotion Summary</h4>
          <p>Facts pertaining to emotion summary</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h4>Language Style Summary</h4>
          <p>Facts pertaining to language style summary</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h4>Social Summary</h4>
          <p>Facts pertaining to social summary</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div id="row1" class="row featurette">
        <div class="col-md-7">
          <h4 class="featurette-heading">Emotional<span class="text-muted"> Summary...</span></h4>
          <p class="lead">Discover what emotions you pertray with your Twitter Post... Emotional tone is inferred from different types of emotions and feelings that people express in their day to day life and especially in social media post. For each of these emotions, the service outputs a score that lies between 0 to 1 that indicates the probability that the emotion came across in your Tweet. In the table generated from your last 10 Tweets, the low value describes the lowest a score - Tweet can receive and can still be considered to comtain that emotion. The high value describes when the sentence or document has a high probability of belonging to that emotion. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/images/EmotionSummary.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div id="row2" class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Language Style<span class="text-muted"> Summary...</span></h2>
          <p class="lead">This summary will analyze your last 10 Twitter post. The Language Style Summary will provide you with stats specific to what style of communication your post are presenting based on Analytical, Confident and Tentative communciation.  </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="/images/LanguageStyle.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div id="row3" class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Social<span class="text-muted"> Summary...</span></h2>
          <p class="lead">How social are your Twitter post? Social Summary will provide you with detailed stats based on your level of Openness, Conscientiousness, Extraversion, Agreeableness and Emotional Range from your last 10 Twitter post. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/images/SocialSummary.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; SENTiment</p>
      </footer>

    </div><!-- /.container -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  </body>
</html>
