<!DOCTYPE html>
<html>
  <head>
<!-- <<<<<<< HEAD
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Get report for a specified date range</h1>
    <form action="/watson/analyze" method="POST">
      <input name="since" type="date">
      <input name="until" type="date">
      <input type="submit">
    </form>
  </body>
</html>
======= -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
</head>
<body>
  <form action="/watson/analyze" method="POST">
    <input type="text" name="daterange" value="01/01/2016 - 05/6/2016" />
    <input type="submit">
  </form>
  <h1> Your Reports </h1>
  <ul id="reports"></ul>
  <script type="text/javascript">
  $(function() {
      $('input[name="daterange"]').daterangepicker();
  });
  </script>
  <script type="text/javascript" src='/javascripts/script.js'></script>
</body>
</html>

