<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Get report for a specified date range</h1>
    <form action="/watson/analyze" method="POST">
      <input name="since" type="date">
      <input name="until" type="date">
      <input type="submit">
    </form>
  </body>
</html>
