<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src='/javascripts/chart.js'></script>
</head>
<body>

  <p> <%= text %> </p>
  <ul>
    <% result.forEach(function(category) { %>
      <li>
        <%= category.tone_name %>: <%= category.score %>
      </li>
    <% }) %>
  </ul>
  <div id='emo-chart'></div>
  <div id='lang-chart'></div>
  <div id='soc-chart'></div>

<!-- <! FACEBOOK SHARE BUTTON !> -->

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="fb-share-button" data-href="https://www.google.com" data-layout="button_count" data-mobile-iframe="true"></div>


<!-- <! TWEET BUTTON !> -->
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.google.com" data-text="This is how I am when I tweet, check it out!!!">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


</body>
</html>
