<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      var emotionScore = {}

      function drawChart() {
       // Define the chart to be drawn.
       var data = new google.visualization.DataTable();
       data.addColumn('string', 'Emotion');
       data.addColumn('number', 'Probability');
       data.addRows([
         ['Anger', emotionScore.anger],
         ['Disgust', emotionScore.disgust],
         ['Fear', emotionScore.fear],
         ['Joy', emotionScore.joy],
         ['Sadness', emotionScore.sadness]
       ]);

       var chart = new google.visualization.BarChart(document.getElementById('chart'));
       chart.draw(data, null);
      }

      $.ajax({
        url: '/api/reports/latest',
        method: 'GET'
      }).then(function(doc){
        console.log(doc[0])
        var tones = doc[0].tone_categories[0].tones
        emotionScore['anger']   = tones[0].score
        emotionScore['disgust'] = tones[1].score
        emotionScore['fear']    = tones[2].score
        emotionScore['joy']     = tones[3].score
        emotionScore['sadness'] = tones[4].score
      })
    </script>
  </head>
  <body>
    <p> <%= text %> </p>
    <ul>
      <% result.forEach(function(category) { %>
        <li>
          <%= category.tone_name %>: <%= category.score %>
        </li>
      <% }) %>
    </ul>
    <div style='max-width: 600px' id='chart'></div>
  </body>
</html>
