<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/watson" method='POST'>
      <input name='text' type='textarea' placeholder='enter your text'/><br>
      <button type='submit'>Submit</button>
    </form>
  </body>
</html>
