body {
  padding-bottom: 0px;
  color: white;
  font-family: 'Dosis', sans-serif;
  background-color: white;
  border: 75px solid;
  border-color: darkgrey;

}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 75px;
  left: 75px;
  z-index: 20;
}

#row1, #row2, #row3  {
  background-color: lightgrey;
  padding-top: 45px;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  width: 1043px;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
  background-color: black;
}

#navbar {
background-color: black;
}

#nav-brand {
  color: grey;
  font-family: 'Dosis', sans-serif;
  font-size: 35px;
  background-color: black;
}

#nav-bar-login {
  width: 150px;
  height: 25px;
  float: right;
  margin-top: 13px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-color: lightgrey;
  font-size: 18px;
  line-height: 18px;
}

/* Carousel base class */
#twitter-login {
  background-image: url("../images/twitter-logo.png");
  background-repeat: no-repeat;
  width: 160px;
  height: 30px;
}

#think-twitter {
  background-image: url(/images/TwitterSpotLight.png);
  height: 500px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#think-sentiment {
  background-image: url(/images/SentimentImage.png);
  height: 500px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#think-tweet {
  background-image: url(/images/ThinkTweet.png);
  height: 500px;
  background-size: 70% 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#circle-text {
  background-color: lightgrey;
}

.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  font-family: 'Dosis', sans-serif;
}

/* Declare heights because of positioning of img element */

.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  margin-top: 90px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}
.marketing h4 {
  font-weight: normal;
  font-family: 'Dosis', sans-serif;

}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
  font-family: 'Dosis', sans-serif;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 0px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  font-family: 'Dosis', sans-serif;

}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    font-family: 'Dosis', sans-serif;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
    font-family: 'Dosis', sans-serif;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

@media (max-width: 780px) {
  .navbar-wrapper{
    left: 0;
    right: 0;
  }
}


.select-reports {
  color: darkgrey;
  text-align: center;
  margin-top: -50px;
}

.last-report {
  color: white;
  background-color: lightgrey;
  border: 10px solid darkgrey;
  margin-top: -45px;
  margin-bottom: -25px;
  margin-left: 0px

}

.chart1, .chart2, .chart3 {
  background-color: lightgrey;
  padding: 10px;
  border: 10px solid darkgrey;
  margin-top: 25px;
  margin-bottom: -25px
}

.chart-text1, .chart-text2, .chart-text3 {
  height: 245px;
  width: 100%;
  float: right;
  color: grey;
  margin-top: 25px;
  margin-right: 15px;
  margin-left: -30px;
  margin-bottom: 14px;
  border: 6px solid white;
  background-color: lightgrey;
  font-family: 'Dosis', sans-serif;
  font-size: 11px;
}

.word-wrap {
  overflow: auto;
  padding-left: 3%;
}
.fb-share-button {
  margin-top: -10px;
  margin-left: 910px;

}

.twitter-share-button {
  margin-top: 0px;
  margin-left: 1020px;
}

.report-history {
  font-size: 25px;
  text-align: center;
}

.date-range {
  text-align: center;
}
