body {
  padding-bottom: 40px;
  font-family: 'Dosis', sans-serif;
  background-color: white;
  border: 75px solid;
  border-color: darkgrey;
}

#error-message {
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}

#reports {
  max-height: 210px;
  overflow: auto;
}

.gray-bg {
  background-color: lightgray;
}

.text-center {
  text-align: center;
}

input[type='submit']{
  background-color: purple;
  color: white;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 75px;
  left: 75px;
  z-index: 20;
}

#row1, #row2, #row3  {
  background-color: lightgrey;
  padding-top: 45px;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  width: 1043px;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar {
  width: auto;
  background-color: black;
}

#navbar {
background-color: black;
}

#nav-brand {
  color: grey;
  font-family: 'Dosis', sans-serif;
  font-size: 35px;
  background-color: black;
}

#nav-bar-login {
  width: 150px;
  height: 25px;
  float: right;
  margin-top: 13px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-color: lightgrey;
  font-size: 18px;
  line-height: 18px;
}

.fb_iframe_widget span {
  vertical-align: baseline !important;
  /* makes the facebook share button line up with twitter's */
  /* probably the only legitimate reason for using !important */
}

@media only screen and (max-device-width: 768px) {
  .navbar-wrapper {
    position: unset;
    top: unset;
    right: unset;
    left: unset;
    z-index: unset;
  }

  body {
    border: unset;
  }
}
